@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>

</style>
<div class="text-center">
    <h2>Claims</h2>
</div>


<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>CLAIM ID</th>
                <th>LECTURER.ID</th>
                <th>PROGRAMME</th>
                <th>MODULE(S)</th>
                <th>HOURS</th>
                <th>TOTAL</th>
                <th>DATE</th>
                <th>VIEWS</th>
                <th>STATUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>L86-437-87</td>
                <td>DISD0601</td>
                <td>PROG6212/SAND6212</td>
                <td>8</td>
                <td>R1.180</td>
                <td>09-06-2024</td>
                <td><button class="btn btn-primary">View</button></td>
                <td>
                    <select id="statusSelect" name="statusSelect" class="btn btn-secondary">
                        <option value="pending">Pending</option>
                        <option value="approved">Approved</option>
                        <option value="declined">Declined</option>
                    </select>
                </td>

            </tr>
            <tr>
                <td>2</td>
                <td>L86-437-88</td>
                <td>DINM0601</td>
                <td>PROG6221</td>
                <td>4</td>
                <td>R1.140</td>
                <td>09-07-2024</td>
                <td><button class="btn btn-primary">View</button></td>
                <td>
                    <select id="statusSelect" name="statusSelect" class="btn btn-secondary">
                        <option value="pending">Pending</option>
                        <option value="approved">Approved</option>
                        <option value="declined">Declined</option>
                    </select>
                </td>

            </tr>
            <tr>
                <td>3</td>
                <td>L86-437-89</td>
                <td>DISD0601</td>
                <td>DATA6222/WEDE6021</td>
                <td>10</td>
                <td>R1.200</td>
                <td>09-08-2024</td>
                <td><button class="btn btn-primary">View</button></td>
                <td>
                    <select id="statusSelect" name="statusSelect" class="btn btn-secondary">
                        <option value="pending">Pending</option>
                        <option value="approved">Approved</option>
                        <option value="declined">Declined</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>L86-437-90</td>
                <td>DITM0601</td>
                <td>SAND6211</td>
                <td>2</td>
                <td>R1.120</td>
                <td>09-09-2024</td>
                <td><button class="btn btn-primary">View</button></td>
                <td>
                    <select id="statusSelect" name="statusSelect" class="btn btn-secondary">
                        <option value="pending">Pending</option>
                        <option value="approved">Approved</option>
                        <option value="declined">Declined</option>
                    </select>
                </td>

            </tr>
        </tbody>


    </table>
</div>